<%= javascript_include_tag 'charCounter' %>
<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div id="char_count">140 characters left</div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>